.container
  .row.bottom-buffer
    .col-xs-offset-2.col-xs-8.col-md-offset-3.col-md-6
      .panel.panel-default
        .panel-heading 新規登録
        .panel-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .form-group
              = f.label :name, 'ユーザー名'
              %br/
              = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'
            .form-group
              = f.label :email, 'メールアドレス'
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
            .form-group
              = f.label :password, 'パスワード'
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length}文字以上)
              %br/
              = f.password_field :password, autocomplete: "new-password", class: 'form-control'
            .form-group
              = f.label :password_confirmation, 'パスワード（確認）'
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
            .form-btn
              = f.submit "登録する", class: 'btn btn-success btn-block'