- if foods.present?
  .cards-body
    .row
      - foods.each do |food|
        .col-md-4.col-xs-12
          .cards
            = link_to admins_food_path(food) ,"data-turbolinks": false do
              = image_tag food.image.url, size: "300x300", class: "img-rounded food-img"
            .cards__under.ml-10.mt-10
              - if user_signed_in? && food.already_liked?(current_user)
                .ml-10.text-left.mb-10
                  %label.fas.fa-heart.liked-btn
                  = food.likes.count
              -else
                .ml-10.text-left.mb-10
                  %label.fas.fa-heart.like-btn
                  = food.likes.count
              %i.far.fa-comment.comment-btn.ml-10
              .ml-5
                = food.comments.count
            .cards__upper.ml-10
              = food.name
            .cards__upper.ml-10
              = food.visited_sauna
            .cards__upper.ml-10.text-left
              = image_tag food.user.avatar.url, size: "30x30", class: "img-circle"
              = food.user.name
              = food.created_at.strftime("%Y/%m/%d %H:%M")
            
    .text-center
      = paginate foods
- else
  %h2
    = @nil_message