- visitor = notification.visitor
- visited = notification.visited


.form-inline
  %span
    = link_to user_path(id: visitor.id) do
      = image_tag visitor.avatar.url, size: "30x30", class: "img-circle"
      = visitor.name
    さんが
    - case notification.action
    - when 'follow' then
      あなたをフォローしました
    - when 'like' then
      = link_to 'あなたの投稿', notification.food,style: "font-weight: bold" 
      にいいねしました
    - when 'comment' then
      - if notification.food.user_id == visited.id
        = link_to "あなたの投稿", notification.food,style: "font-weight: bold" 
      にコメントしました
      %p.text-muted.mb-0
        = Comment.find_by(id: notification.comment_id).content
  .small.text-muted.text-right
    = " (#{time_ago_in_words(notification.created_at)} 前)"
  %hr/
