- unless user_signed_in? || admin_signed_in?
  .cover
    .cover-inner
      .cover-contents
        %h1 サウナ飯を楽しもう
        = link_to '新規登録', new_user_registration_path, class: 'btn btn-primary btn-lg cover-button'
        = link_to 'ログイン', new_user_session_path, class: 'btn btn-success btn-lg cover-button'
        = link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-warning btn-lg cover-button'

- else
  .container
    .section-title.text-center
      %h2 投稿一覧
    -# 検索フォーム
    = render 'foods/search_form', q: @q
    -if user_signed_in?
      /投稿ボタン
      = render "foods/new-btn"
    -# 投稿一覧
    = render 'foods/food_list'
