%nav.navbar.navbar-default.navbar-static-top

  .navbar-header
    %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-left{:href => "/"}
      %img{:alt => "header-logo", :src => "/images/Samesy-logo.png"}/
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right.mr-10
      %li
        = link_to foods_path do
          %span.glyphicon.glyphicon-cutlery{"aria-hidden" => "true"}
          サ飯
      %li
        = link_to users_path do
          %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
          サ友
      %li
        = link_to root_path do
          %span.glyphicon.glyphicon-glass{"aria-hidden" => "true"}
          サ会
      - if user_signed_in?
        %li
          = link_to notifications_path do
            - if unchecked_notifications.any?
              %span.fa-stack
                %i.fas.fa-bell.fa-stack-2x.pt-2{:style => "font-size:25px;"}
                %i.fas.fa-circle.n-circle.fa-stack-1x
            - else
              %i.fas.fa-bell.pt-2{:style => "font-size:25px;"}
        %li
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        %li
          = link_to "マイページ", user_path(current_user.id)
      - else
        %li
          = link_to 'ログイン', new_user_session_path
        %li
          = link_to '新規登録', new_user_registration_path