!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SaunarsCircle
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=360,initial-scale=1", :name => "viewport"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :rel => "stylesheet"}/
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.GCP[:API_KEY]}"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      = render 'layouts/navbar'
      = render 'layouts/flash_messages'
    = yield
    = render 'layouts/hooter'